[submodule "src/test/resources/RCompiler-Testcases"]
	path = src/test/resources/RCompiler-Testcases
	url = https://github.com/RayZh-hs/RCompiler-Testcases.git
[submodule "src/main/resources/RCompiler-Testcases"]
	path = src/main/resources/RCompiler-Testcases
	url = https://github.com/RayZh-hs/RCompiler-Testcases.git

